@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
.inter{
    font-family: 'Inter', sans-serif;
}
body{
    min-height: 100vh;
}
header{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    gap: 60%;
    align-items: center;

}
nav{
    display: none;
}
ul{
    display: none;
}
.header-bottom{
 display: none;
}

.title-div{
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    position: relative;
}
.title1{
    font-weight: 900;
    font-size: 17.21px;
    line-height: 18.44px;
    color: #000000;
}
.title2{
    font-weight: 900;
        font-size: 5.74px;
        line-height: 6.15px;
        color: #000000;
        position: absolute;
        left:100%;
        bottom: 55%;
    
}
.menu{
    width: 25px;
    height: 25px;

}
.section1-container-div1{
    margin-top:23px ;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
}
.container-p1{
    font-weight: 900;
    font-size: 40px;
    line-height: 48.5px;
    color: #000000;
    text-align: center;
}
.container-p2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    text-align: center;
}
.bottom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}
.bottom{
    border-radius: 32px;
    background-color:#000000;
    width:90px;
    height: 40px;
    border-style: solid;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding-top:12px;
    color: #F3F3F3;
}
.container-p3{
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}
.img1{
    height: 309px;
    width:100%;
    border-radius: 12px;
    object-fit: cover;

}
.section2-container-div{
    margin-top: 21px;
    padding-top:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    background-color:#F3F3F3 ;
}
.container2-div {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

}
.container2-div1{
    display: flex;
    align-items: center;
    gap: 15px;
}
.black-point{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
    border-style: solid;
}
.container2-p{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
.container2-p2{
    font: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}
.last-section{
    width: 100%;
    background-color: #000000;
    padding-top: 24px;
}
.lastsection-container{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;

}
.img2{
    width: 90%;
}
.lsection-p1{
    font-weight: 900;
    font-size: 16px;
    line-height: 32px;
    color: #ffff;
    text-align: center;
}
.lsection-p2{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffff;
    text-align: center;
}
.lsection-div1{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;

}
.div1-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color:#ffff;
}
footer{
    width: 100%;
    display: flex;
    background-color: #000000;
    flex-direction: column;
    gap:70px;
    padding-top:24px;
    padding-bottom:70px ;
    justify-content: center;
}
.img-div{
    width: 100%;
    height: 500px;
    background-image: url("./images/cta\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-div1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
.white-title1 {
    font-weight: 900;
    font-size: 17.21px;
    line-height: 18.44px;
    color: white;
}

.white-title2 {
    font-weight: 900;
    font-size: 5.74px;
    line-height: 6.15px;
    color: #ffff;
    position: absolute;
    left: 100%;
    bottom: 55%;

}
.footer-div2{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.block{
    display: flex;
    flex-direction: column;
    gap:8px;
    align-items: center;
}

.name{
  width: 98px;  
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  text-align: center;  
  margin-bottom: 8px;
}
.content{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffff;
    text-align: center;
}
@media (min-width:744px) {
    .menu{
        display: none;
    }
    header{
        gap:11%;
        padding-left: 2%;
        padding-right: 2%;
    }
    nav{
        display: block;
    }
    ul{
        display: flex;
        flex-direction: row;
        gap: 22px;

    }
    .link{
        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        text-align: right;
        color: #000000;
    }
    .header-bottom{
        display: block;
    }
    .img-div{
        background-image: url("./images/cta\ \(2).png");
    
    }
    footer{
        align-items: flex-start;
    }
    .footer-div1{
        align-items: flex-start;
    }
    .footer-div2{
        align-items: flex-start;
        gap: 60px;
        margin-left: 18px;
    }
    .block{
        align-items: flex-start;
    }
    .name{
        text-align: start;
        width: auto;
    }
    .img1{
        height: 499px;
    }
    
    
}